{{ define "content" }}
	<article>
		<header class="heading">
			<h1>Add a Symptom</h1>
		</header>

		{{ $formID := uniqueID }}
		<section id="{{ $formID }}" class="form">
			<form method="post" action="/symptoms/add">
				{{ .csrfField }}
				<fieldset>
					<label for="title">Title</label>
					<input required id="title" type="text" name="title" />
				</fieldset>
				<fieldset>
					<label for="author">Author</label>
					<input required id="author" type="text" name="author" />
				</fieldset>
				<fieldset>
					<label for="description">Description</label>
					<textarea id="description" name="description" maxlength="255"></textarea>
				</fieldset>
				<input type="submit" value="Add Symptom" />
			</form>

			<script>
				window[{{ .env.SITE_HANDLE }}].components.push({
					handle: "form",
					id: "{{ $formID }}",
					searchIsbn: true,
				});
			</script>
		</section>
	</article>
{{ end }}
